/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Movil page 376 px light*/
/* Default page */

/* Javier Start */




/* Javier End */



/* Start */




/* End */


/* Movil Page 376 px dark */


/* Desktop Page 1440 px light */

/* Javier Start */



/* Javier End */


/* Start */



/* End */