/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    font-family: "Google Sans Flex", sans-serif;
    color: #6c6082;
}

:root{
    --variable-color: linear-gradient(45deg,#f552b8, #f660bc, #d252d5, #c961e1, #a153fd);
    --color-font-light: #220953;
}

/* Movil page 376 px light*/
/* Default page */

/* Javier Start */

/* Header Section */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    flex-basis: 200px;
    flex-shrink: 7;
    flex-grow: 3;
}

header nav h2{
    font-size: 20px;
    font-weight: 500;
    font-family: "Lora", serif;
    background-image: var(--variable-color);
    color: transparent;
    background-clip: text;
}

header nav .moon-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.dark-checkbox-div{
    width: 24px;
    height: 24px;
}

.checkbox-dark-container{
    position: relative;
}

.checkbox-dark-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.moon-design{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.sun-design{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.menus-dark-light{
    position: relative;
}

.menu-light{
    position: absolute;

    cursor: pointer;
}

.menu-dark{
    opacity: 0;
    cursor: pointer;
}


#menu{
    display: none;
}

header nav div a img{
    width: 25px;
    vertical-align: middle;
}

/* Main */

main{
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img{
    width: 100%;
    display: block;
    margin-top: 16px;
}

main div.title-h1{
    width: fit-content;
}

h1{
    font-family: Lora;
    font-size: 55px;
    text-align: center;
    color: var(--color-font-light);
    font-weight: 500;
}

main div h1 span{
    display: block;
}

h1 span.last-child{
    display: flex;
    justify-content: flex-start;
}

main div h1 .text-ver{
    display: inline-block;
    background-image: var(--variable-color);
    width: 160px;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    rotate: 10deg;
    font-weight: 400;
    margin-left: 5px;
}



main div h1 img{
    margin: 0;
    display: inline-block;
    width: 70px;
    vertical-align: top;
    justify-content: center;
}

main .first-text{
    margin-top: 20px;
    padding: 0 10px;
}

main .first-text p{
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    padding: 0 12px;
}

main .home-circle-div{
    display: flex;
    width: 250px;
    justify-content: end;
    padding-right: 10px;
}

main .home-circle-div img{
    width: 16px;

}

main .first-button{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

main .first-button button{
    width: 250px;
    background-image: var(--variable-color);
    font-size: 20px;
    color: white;
    padding: 20px;
    border-radius: 40px;
    border: none;
}

main .yoga-classes-participants div p{
    color: var(--color-font-light);
    font-weight: 400;
}

main .yoga-classes-participants{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 60px;
    margin-top: 40px;
}

main .yoga-classes-participants .class-300{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    text-align: center;
}

main .yoga-classes-participants .participants-40{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    text-align: center;
}

main .yoga-classes-participants .img-from-class{
    grid-column: 1 / 3;
    grid-row: 2 / 3; 
}

main .number-01-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    align-content: center;
    gap: 5px;
}

.number-01-main p{
    font-size: 30px;
    font-weight: 500;
    font-family: Lora;
    color: var(--color-font-light);
    margin: 20px 40px;
}

main .number-01-main img{
    width: 50vw;
}   

main .text-get-influencers{
    margin: 20px 30px;
    text-align: center;
    display: flex;
    position: relative;
    height: 180px;

}
main .text-get-influencers span{
    align-self:stretch;
    z-index: -1;
    position: absolute;

}

main .text-get-influencers span img{
    width: 70px;
    margin-bottom: 10px;
}
main .text-get-influencers p{
    float: left;
    font-weight: 400;
    font-size: 20px;
    align-self: flex-end;
    position: relative;
    z-index: 2;
    margin-left: 17px;
}

main .next-button-decorated{
    display: flex;
    justify-content: center;
    width: 122px;
    height: 120px;
    position: relative;
    /* overflow: hidden; */

}

main .next-button-decorated img{
    position: absolute;
    z-index: -1;
    width: 150px;
    
    justify-self: center;
    align-self: center;
    margin: 0;
    
}


main .next-button-decorated button{
    background-image:   var(--variable-color);
    color: transparent;
    background-clip: text;
    display: flex;
    justify-content: center;
    width: fit-content;
    border: none;
    font-size: 18px;
    z-index: 2;
    position: relative;
    justify-self: center;
    align-self: center;
}

main .next-button-decorated button svg{
    width: 20px;
    height: 30px;
    fill: url(#gradiente-complejo-45deg);
    margin-left: 5px;
}

main .next-button-decorated button:hover{
    cursor: pointer;
    text-decoration: underline;
}


/* Javier End */



/* Start */




/* End */


/* Movil Page 376 px dark */
body:has(input:checked){
    background-color: #14092a;
    --color-font-light: #d1c0f1;
}

body:has(input:checked) .moon-design{
    display: none;
}
body:has(input:checked) .sun-design{
    display: block;
}

body:has(input:checked) .menu-light{
    opacity: 0;
}
body:has(input:checked) .menu-dark{
    opacity: 1;
}

/* Desktop Page 1440 px light */
@media (min-width: 1440px) {
    header nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    header nav .moon-menu .menus-dark-light{
        display: none;
    } 
    header nav .moon-menu{
        display: flex;
        gap: 80px;
    }

    header nav .moon-menu .dark-checkbox-div{
        order: 2;
    }
    #menu{
        order: 1;
        display: flex;
    }

    #menu ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 80px;
    }
    #menu ul li a{
        text-decoration: none;
    }

    
}
/* Javier Start */



/* Javier End */


/* Start */



/* End */