/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    font-family: "Google Sans Flex", sans-serif;
    color: #6c6082;
}


/* Movil page 376 px light*/
/* Default page */

/* Javier Start */

/* Header Section */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

header nav h2{
    font-size: 20px;
    font-weight: 500;
    font-family: "Lora", serif;
    background-image: linear-gradient(45deg,#f552b8, #f660bc, #d252d5, #c961e1, #a153fd);
    color: transparent;
    background-clip: text;
}

header nav .moon-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu{
    display: none;
}

header nav div a svg{
    width: 24px;
    vertical-align: middle;
}

header nav div a img{
    width: 24px;
    vertical-align: middle;
}

/* Main */

main img{
    width: 100%;
    display: block;
    margin-top: 16px;
}

main .first-text{
    margin-top: 20px;
    padding: 0 16px;
}

main .first-text p{
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

main .first-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

main .first-button button{
    width: 250px;
    background-image: linear-gradient(45deg,#f552b8, #f660bc, #d252d5, #c961e1, #a153fd);
    font-size: 20px;
    color: white;
    padding: 20px;
    border-radius: 40px;
    border: none;
}

main .yoga-classes-participants div p{
    color: #220953;
    font-weight: 400;
}

main .yoga-classes-participants{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    margin-top: 40px;
}

main .yoga-classes-participants .class-300{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    text-align: center;
}

main .yoga-classes-participants .participants-40{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    text-align: center;
}

main .yoga-classes-participants .img-from-class{
    grid-column: 1 / 3;
    grid-row: 2 / 3; 
}

main .number-01-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    align-content: center;
    gap: 5px;
}

.number-01-main p{
    font-size: 30px;
    font-weight: 500;
    font-family: Lora;
    color: #220953;
    margin: 20px 40px;
}

main .number-01-main img{
    width: 50vw;
}   

main .text-get-influencers{
    margin: 20px 20px;
    text-align: center;
}

main .text-get-influencers p{
    font-weight: 400;
}

main .next-button-decorated{
    display: flex;
    justify-content: center;
    background-image: url(./images/backgroud-button.jpg);
}

main .next-button-decorated button{
    background-image: linear-gradient(45deg,#f552b8, #f660bc, #d252d5, #c961e1, #a153fd);
    color: transparent;
    background-clip: text;
    display: flex;
    justify-content: center;
    width: 80px;
}

/* Javier End */



/* Start */




/* End */


/* Movil Page 376 px dark */


/* Desktop Page 1440 px light */
@media (min-width: 1440px) {
    header nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    header nav .moon-menu .toggle-on-off{
        display: none;
    } 
    header nav .moon-menu{
        display: flex;
        gap: 80px;
    }

    header nav .moon-menu .dark-moon{
        order: 2;
    }
    #menu{
        order: 1;
        display: flex;
    }

    #menu ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 80px;
    }
    #menu ul li a{
        text-decoration: none;
    }

    
}
/* Javier Start */



/* Javier End */


/* Start */



/* End */